<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p><%= link_to "I'm following...", following_path(id: @user.id) %></p>
<p><%= link_to "Who's following me...", followers_path(id: @user.id) %></p>

<p>
  <% if current_user.following.include?(@user.id) %>
    <%= link_to "Following", unfollow_path(id: @user.id), 
        class: "btn btn-primary", id: "unfollow_btn" %>
  <% else %>
    <% if current_user.id != @user.id %>
      <%= link_to "Follow", now_following_path(id: @user.id), 
          class: "btn btn-primary" %>
          <% else %>
          <%= form_for Tweet.new, url: {action: "epi_tweet"} do |f| %>
            <%= f.text_field :message, class: "form-control" %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "New Tweet", class: "btn btn-primary" %>
    <% end %>
  <% end %>


<% end %>

</p>

<div class="well">
    <% @user.tweets.each do |tweet| %>
        <div class="well inner">
        <p><em> <%= @user.name %> • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %> </em></p>
        <p>@<%= @user.username %></p>
            
            <p><%= tweet.message.html_safe %></p>
      </div>  
    <% end %>
</div>
